@media (min-width: 992px) {
	.hamburger {
		display: none; //juz nam się nie przyda ikona
	}

	//NAWIGACJA
	.nav {
		&__box {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			&-logo {
				img {
					height: 7.5rem;
					width: 100%;
					object-fit: contain;
				}
				&--reduction {
					img {
						height: 5rem;
					}
				}
			}
		}
		&-desktop {
			position: fixed;
			display: flex;
			align-items: center;
			padding: 3rem;
			width: 100%;
			height: 12rem;
			background-color: rgba(0, 0, 0, 1);
			z-index: 100;
			&--reduction {
				height: 6.5rem;
				// box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.4);
				//podświetlenie pod navigacją
				background-color: rgba(0, 0, 0, 0.7);
			}
		}
	}

	//NAGŁÓWEK
	.header {
		height: 85vh;

		&__heading {
			margin-bottom: 4rem;
			&-title {
				margin-top: 10rem;
				margin-bottom: 2rem;
				font-size: 6rem;
			}
			&-adress {
				font-size: 2.4rem;
				span {
					font-size: 2.4rem;
				}
			}
		}
		&__img {
			background-image: url('../img/Zdjęcie\ lokalu\ 3\ desktop.jpg');
		}
		&__info {
			margin: 0 auto;
			width: 100%;
			max-width: 990px;
			font-size: 2rem;
			text-align: center;
			&-title {
				font-size: 2.4rem;
				margin-bottom: 0.5rem;
			}
		}
	}

	//SECTION HEADING
	.section-heading {
		font-size: 4rem;
	}

	//STATIONARY OFFERS
	.stationary-offers {
		padding-bottom: 5rem;
		&__cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			align-items: center;
		}
		&__card {
			margin: 1rem;
			width: 28rem;
			height: 50rem;
		}
	}

	//STATIONARY REALISATION
	.stationary-realisation {
		padding-bottom: 5rem;
		&__photos {
			display: flex;
			justify-content: center;
			img {
				margin: 1rem;
				max-width: 28rem; //ponieważ problemy na niektórych urządzeniach, tak jakby nie działa container
			}
		}
		.section-heading {
			color: #fff;
		}
	}
	//STATIONARY CONTACT
	.stationary-contact {
		&__info {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}
		&__box {
			width: 32rem;
			&-text {
				font-size: 2rem;
			}
			&-link {
				font-size: 2.4rem;
			}
		}

		&__hours {
			width: 32rem;
			&-title {
				font-size: 2.4rem;
			}
			&-list {
				&-item {
					font-size: 1.8rem;
					padding: 0.8rem;
				}
			}
		}
	}
}
