@media (min-width: 576px) {
	//SECTION HEADING
	.section-heading {
		font-size: 3.4rem;
	}

	//NAGŁÓWEK
	.header {
		&__heading {
			margin-bottom: 3rem;
			&-title {
				margin-top: 4rem;
				margin-bottom: 2rem;
				font-size: 4rem;
			}
			&-adress {
				font-size: 1.9rem;
				span {
					font-size: 1.9rem;
				}
			}
		}

		&__info {
			margin: 0 auto;
			width: 100%;
			max-width: 570px;
			font-size: 1.7rem;
			text-align: center;
			&-title {
				font-size: 2rem;
			}
		}
		.announcments {
			font-size: 2.5rem;
		}
	}

	//STATIONARY OFFERS
	.stationary-offers {
		padding-bottom: 5rem;
		&__cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: center; //zmienione na center do 5 kart, przy sześciu wrócić do space around lub evenly
			align-items: center;
		}
		&__card {
			margin: 1rem 3rem; //dodane 3remy po bokach, zmienione do 5 kart, jak bedzie 6 zostawić 1rem na około
			width: 30rem;
			height: 45rem;
		}
	}

	//STATIONARY REALISATION
	.stationary-realisation {
		padding-bottom: 5rem;
		&__photos {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			img {
				margin: 1rem;
				min-width: 25rem;
				max-width: 28rem; //ponieważ problemy na niektórych urządzeniach, tak jakby nie działa container
			}
		}
	}

	//STATIONARY CONTACT
	.stationary-contact {
		&__box {
			&-text {
				font-size: 2rem;
				max-width: 60rem;
			}
			&-link {
				font-size: 2.4rem;
			}
		}
		&__hours {
			&-title {
				font-size: 2.4rem;
			}
			&-list {
				&-item {
					font-size: 1.8rem;
					padding: 0.8rem;
				}
			}
		}
		&__form {
			left: 50%;
			transform: translateX(-50%);
			max-width: 60rem;
		}
	}
}
