@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --mainreg: "playregular", sans-serif;
  --mainbold: "playbold", sans-serif;
  --maincolor: #00adfe;
  --darkcolor: #242424;
}

@font-face {
  font-family: "playregular";
  src: url("../fonts/play-regular-webfont.woff2") format("woff2"), url("../fonts/play-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "playbold";
  src: url("../fonts/play-bold-webfont.woff2") format("woff2"), url("../fonts/play-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: var(--mainreg);
  font-size: 1.6rem;
  color: #fff;
  background-color: #333;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.hamburger {
  position: fixed;
  top: 3em;
  right: 1em;
  transform: translateY(-50%);
  z-index: 50;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #fff;
  z-index: 50;
}

.nav .disabled {
  color: gray;
  text-decoration: none;
  cursor: default;
}
.nav-desktop {
  display: none;
}
.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  transform: translate(-102%);
  transition: transform 0.5s;
  z-index: 10;
}
.nav-mobile--active {
  transform: translate(0);
}
.nav__link {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 2.3rem;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}
.nav__link--d {
  position: relative;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.5rem;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}
.nav__link-desktop {
  color: #fff;
}
.nav__link-mobile:hover, .nav__link-desktop:hover {
  color: var(--maincolor);
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  height: 85vh;
  color: #fff;
}
.header__img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Zdjęcie lokalu 3 mobile.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.header__img-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.header__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.header__heading-title {
  padding: 4rem;
  font-size: 3.6rem;
  text-transform: uppercase;
}
.header__heading-adress {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}
.header__heading-adress span {
  font-size: 1.8rem;
}
.header__info {
  padding: 4rem 0;
  font-size: 1.5rem;
  text-align: center;
}
.header__info-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.header .announcments {
  position: absolute;
  left: 50%;
  width: 75%;
  transform: translateX(-50%);
  font-size: 2rem;
  text-align: center;
  color: #fe5100;
}

.section-heading {
  position: relative;
  padding: 3rem;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--maincolor);
  letter-spacing: 2px;
}

.stationary-offers {
  position: relative;
  padding: 2rem;
  background-color: #fff;
  color: #000;
}
.stationary-offers__card {
  position: relative;
  padding: 2rem 2rem 6.5rem 2rem;
  margin: 2rem 0;
  border: 2px solid var(--maincolor);
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  transition: transform 0.3s;
}
.stationary-offers__card:hover {
  transform: scale(1.04);
}
.stationary-offers__card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 6rem;
  padding-bottom: 1.6rem;
  font-size: 2.2rem;
  border-bottom: 2px solid var(--maincolor);
}
.stationary-offers__card-info {
  padding: 0.8rem 0;
  font-size: 1.6rem;
}
.stationary-offers__card-list {
  font-size: 1.6rem;
  list-style-position: inside;
}
.stationary-offers__card-list-item {
  padding: 0.5rem 0;
}
.stationary-offers__card-price-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1.6rem;
  padding: 0.5rem;
  border-radius: 8px;
  width: 50%;
  border: none;
  font-size: 3rem;
  color: #fff;
  background-color: var(--maincolor);
}

.stationary-realisation {
  position: relative;
  padding: 2rem;
  background-color: var(--darkcolor);
  color: #fff;
}
.stationary-realisation__photos img {
  margin: 1rem 0;
  width: 100%;
}
.stationary-realisation .section-heading {
  color: #fff;
}

.stationary-contact {
  position: relative;
  padding: 2rem;
  background-color: #fff;
  color: #000;
}
.stationary-contact__box {
  display: flex;
  margin-bottom: 3rem;
  flex-direction: column;
  align-items: center;
}
.stationary-contact__box-text {
  padding: 0.8rem 0 2rem 0;
  font-size: 1.8rem;
  text-align: center;
}
.stationary-contact__box-link {
  padding: 1.6rem 0;
  font-size: 2.2rem;
}
.stationary-contact__box-link i {
  transition: color 0.3s;
}
.stationary-contact__box-link a {
  text-decoration: none;
  color: #000;
}
.stationary-contact__box-link a:hover > i {
  color: var(--maincolor);
}
.stationary-contact__hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
.stationary-contact__hours-title {
  padding: 0.8rem;
  font-size: 2rem;
  font-weight: bold;
}
.stationary-contact__hours-list {
  list-style-type: none;
}
.stationary-contact__hours-list-item {
  position: relative;
  padding: 0.5rem;
}
.stationary-contact__hours-list-item span {
  position: absolute;
  right: 1rem;
}
.stationary-contact__form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1em;
  border-radius: 8px;
  background-color: #dddddd;
  overflow: hidden;
}
.stationary-contact__form-title {
  padding-bottom: 0.7em;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}
.stationary-contact__form-box {
  display: flex;
  flex-direction: column;
}
.stationary-contact__form-box label {
  margin-bottom: 0.3em;
  font-size: 1.6rem;
}
.stationary-contact__form-box input,
.stationary-contact__form-box textarea {
  margin-bottom: 1em;
  padding: 0.6em 1.2em;
  border: 2px solid #dddddd;
  border-radius: 8px;
}
.stationary-contact__form-box input:focus,
.stationary-contact__form-box textarea:focus {
  outline: none;
  border: 2px solid var(--maincolor);
}
.stationary-contact__form-box textarea {
  min-height: 100px;
  min-width: 100%;
  max-width: 100%;
}
.stationary-contact__form-btn {
  align-self: flex-end;
  padding: 0.5em;
  width: 40%;
  border: 2px solid var(--maincolor);
  border-radius: 8px;
  background-color: var(--maincolor);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s;
}
.stationary-contact__form-btn:hover {
  background-color: #fff;
  color: var(--maincolor);
}
.stationary-contact__form-msgStatus {
  display: none;
}
.stationary-contact__form .success,
.stationary-contact__form .error {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #dddddd;
  font-size: 2.4rem;
  font-weight: bold;
}

.footer {
  position: relative;
  background-color: #000;
}
.footer__social {
  padding-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  font-size: 2.4rem;
}
.footer__social a .fa-brands {
  color: rgb(167, 165, 165);
  transition: color 0.3s;
}
.footer__social a .fa-facebook-f:hover {
  color: #1c78e0;
}
.footer__social a .fa-instagram:hover {
  color: #fd486a;
}
.footer__social a .fa-youtube:hover {
  color: #fd0013;
}
.footer__text {
  padding: 2rem;
  text-align: center;
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .nav__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav__box-logo img {
    height: 7.5rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .nav__box-logo--reduction img {
    height: 5rem;
  }
  .nav-desktop {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 3rem;
    width: 100%;
    height: 12rem;
    background-color: rgb(0, 0, 0);
    z-index: 100;
  }
  .nav-desktop--reduction {
    height: 6.5rem;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .header {
    height: 85vh;
  }
  .header__heading {
    margin-bottom: 4rem;
  }
  .header__heading-title {
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 6rem;
  }
  .header__heading-adress {
    font-size: 2.4rem;
  }
  .header__heading-adress span {
    font-size: 2.4rem;
  }
  .header__img {
    background-image: url("../img/Zdjęcie lokalu 3 desktop.jpg");
  }
  .header__info {
    margin: 0 auto;
    width: 100%;
    max-width: 990px;
    font-size: 2rem;
    text-align: center;
  }
  .header__info-title {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
  }
  .header .announcments {
    font-size: 3.5rem;
  }
  .section-heading {
    font-size: 4rem;
  }
  .stationary-offers {
    padding-bottom: 5rem;
  }
  .stationary-offers__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .stationary-offers__card {
    margin: 1rem;
    width: 28rem;
    height: 50rem;
  }
  .stationary-realisation {
    padding-bottom: 5rem;
  }
  .stationary-realisation__photos {
    display: flex;
    justify-content: center;
  }
  .stationary-realisation__photos img {
    margin: 1rem;
    max-width: 28rem;
  }
  .stationary-realisation .section-heading {
    color: #fff;
  }
  .stationary-contact__info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .stationary-contact__box {
    width: 32rem;
  }
  .stationary-contact__box-text {
    font-size: 2rem;
  }
  .stationary-contact__box-link {
    font-size: 2.4rem;
  }
  .stationary-contact__hours {
    width: 32rem;
  }
  .stationary-contact__hours-title {
    font-size: 2.4rem;
  }
  .stationary-contact__hours-list-item {
    font-size: 1.8rem;
    padding: 0.8rem;
  }
  .stationary-contact__form {
    width: 32rem;
  }
  .footer__social {
    position: absolute;
    font-size: 2.6rem;
  }
  .footer__social a .fa-brands {
    padding: 0 2rem;
  }
  .footer__social a .fa-facebook-f:hover {
    color: #1c78e0;
  }
  .footer__social a .fa-instagram:hover {
    color: #fd486a;
  }
  .footer__social a .fa-youtube:hover {
    color: #fd0013;
  }
  .footer__text {
    padding: 2rem;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */