*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

:root {
	--mainreg: 'playregular', sans-serif;
	--mainbold: 'playbold', sans-serif;
	--maincolor: #00adfe;
	--darkcolor: #242424;
}

@font-face {
	font-family: 'playregular';
	src: url('../fonts/play-regular-webfont.woff2') format('woff2'),
		url('../fonts/play-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'playbold';
	src: url('../fonts/play-bold-webfont.woff2') format('woff2'),
		url('../fonts/play-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: var(--mainreg);
	font-size: 1.6rem;
	color: #fff;
	background-color: #333;
}

.container {
	//dla użytkowników bardzo szerokich ekranów, żeby wyśrodkowało treść
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

//NAWIGACJA

.hamburger {
	position: fixed;
	top: 3em;
	right: 1em;
	transform: translateY(-50%);
	z-index: 50;

	//inner.. stylowanie pasków w ikonie
	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: #fff;
		z-index: 50;
	}
}

.nav {
	.disabled {
		color: gray;
		text-decoration: none;
		cursor: default;
	}
	&-desktop {
		display: none;
	}

	&-mobile {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: #fff;
		transform: translate(
			-102%
		); //przy 100% na niektórych rozdzielczościach widoczny biały pasek
		transition: transform 0.5s;
		z-index: 10;

		&--active {
			transform: translate(0); //klasa dodawana w JS (pokazywanie nawigacji)
		}
	}

	&__link {
		position: relative;
		display: inline-block;
		margin: 0.5em;
		padding: 0.5em;
		font-size: 2.3rem;
		color: black;
		text-transform: uppercase;
		text-decoration: none;
		transition: color 0.3s;

		&--d {
			//zamienić później na desktop, teraz póki co jest tak, żeby hovery działały tylko na działających linkach, stąd inna klasa dodana
			position: relative;
			margin: 0.5em;
			padding: 0.5em;
			font-size: 1.5rem;
			color: black;
			text-transform: uppercase;
			text-decoration: none;
			transition: color 0.3s;
		}

		&-desktop {
			// position: relative;
			color: #fff; //żeby kolor był inny niż na mobilnych
		}

		&-mobile:hover,
		&-desktop:hover {
			//dodana -mobile, zeby działały tylko aktywne linki, jak wszytskie będą aktywne, trzeba usunąć i zostawić &::hover
			color: var(--maincolor);
		}
	}
}

//HEADER
.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2rem;
	height: 85vh;
	color: #fff;
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url('../img/Zdjęcie\ lokalu\ 3\ mobile.jpg');
		background-size: cover;
		background-position: center;
		z-index: -1;
		&-shadow {
			position: absolute;
			height: 100%;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.75);
		}
	}

	&__heading {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		&-title {
			padding: 4rem;
			font-size: 3.6rem;
			text-transform: uppercase;
		}
		&-adress {
			font-size: 1.8rem;
			margin-bottom: 1.8rem;
			span {
				font-size: 1.8rem;
			}
		}
	}
	&__info {
		padding: 4rem 0;
		font-size: 1.5rem;
		text-align: center;
		&-title {
			font-size: 1.8rem;
			margin-bottom: 0.5rem;
		}
	}
	.announcments {
		position: absolute;
		left: 50%;
		width: 75%;
		transform: translateX(-50%);
		font-size: 2rem;
		text-align: center;
		color: #fe5100;
	}
}

//SECTION HEADING
.section-heading {
	position: relative;
	padding: 3rem;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	color: var(--maincolor);
	letter-spacing: 2px;
}

//STATIONARY OFFERS
.stationary-offers {
	position: relative;
	padding: 2rem;
	background-color: #fff;
	color: #000;
	&__card {
		//pomyśleć nad maksymalną szerokością
		position: relative;
		padding: 2rem 2rem 6.5rem 2rem;
		margin: 2rem 0;
		border: 2px solid var(--maincolor);
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 2px 2px 5px rgb(0, 0, 0);
		transition: transform 0.3s;
		&:hover {
			transform: scale(1.04);
		}
		&-title {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			height: 6rem;
			padding-bottom: 1.6rem;
			font-size: 2.2rem;
			border-bottom: 2px solid var(--maincolor);
		}
		&-info {
			padding: 0.8rem 0;
			font-size: 1.6rem;
		}
		&-list {
			font-size: 1.6rem;
			list-style-position: inside;
			&-item {
				padding: 0.5rem 0;
			}
		}
		&-price-btn {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			bottom: 1.6rem;
			padding: 0.5rem;
			border-radius: 8px;
			width: 50%;
			border: none;
			font-size: 3rem;
			color: #fff;
			background-color: var(--maincolor);
		}
	}
}

//STATIONARY REALISATION
.stationary-realisation {
	position: relative;
	padding: 2rem;
	background-color: var(--darkcolor);
	color: #fff;
	&__photos {
		img {
			margin: 1rem 0;
			width: 100%;
			// border: 1px solid silver;
			// box-shadow: 0px 0px 10px rgb(51, 51, 51);
		}
	}
	.section-heading {
		color: #fff;
	}
}

//STATIONARY CONTACT
.stationary-contact {
	position: relative;
	padding: 2rem;
	background-color: #fff;
	color: #000;
	&__box {
		display: flex;
		margin-bottom: 3rem;
		flex-direction: column;
		align-items: center;
		&-text {
			padding: 0.8rem 0 2rem 0;
			font-size: 1.8rem;
			text-align: center;
		}
		&-link {
			padding: 1.6rem 0;
			font-size: 2.2rem;
			i {
				transition: color 0.3s;
			}
			a {
				text-decoration: none;
				color: #000;
			}
			a:hover > i {
				color: var(--maincolor);
			}
		}
	}
	&__hours {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 2rem;
		&-title {
			padding: 0.8rem;
			font-size: 2rem;
			font-weight: bold;
		}
		&-list {
			list-style-type: none;
			&-item {
				position: relative;
				padding: 0.5rem;
				span {
					//wyrównanie godzin otwarcia do prawej strony
					position: absolute;
					right: 1rem;
				}
			}
		}
	}

	&__form {
		display: flex;
		flex-direction: column;
		padding: 1em;
		border-radius: 8px;
		background-color:#cbcfcb; //dobrać kolor
		&-title{
			padding-bottom: 0.7em;
			text-align: center;
			text-transform: uppercase;
			font-size: 2rem;
			font-weight: bold;
		}
		&-box {
			display: flex;
			flex-direction: column;
			label {
				margin-bottom: 0.3em;
				font-size: 1.6rem;
			}
			input, textarea {
				margin-bottom: 1em;
				padding: 0.6em 1.2em;
				border: none;
				border-radius: 8px;
				&:focus{
					outline: none;
					border:2px solid var(--maincolor)
				}
			}
			textarea{
				min-height: 100px;
				min-width: 100%;
				max-width: 100%;
			}
		}
		&-btn{
			align-self: flex-end;
			padding: 0.5em;
			width: 40%;
			border:none;
			border-radius: 8px;
			background-color: var(--maincolor);
			color: white;
			font-weight: bold;
			cursor: pointer;
		}
	}
}

//FOOTER
.footer {
	position: relative;
	background-color: #000;
	&__social {
		padding-top: 2rem;
		display: flex;
		justify-content: space-evenly;
		font-size: 2.4rem;
		a {
			.fa-brands {
				color: rgb(167, 165, 165);
				transition: color 0.3s;
			}
			.fa-facebook-f:hover {
				color: #1c78e0;
			}

			.fa-instagram:hover {
				color: #fd486a;
			}

			.fa-youtube:hover {
				color: #fd0013;
			}
		}
	}
	&__text {
		padding: 2rem;
		text-align: center;
	}
}

@import './small';
@import './medium';
@import './large';
