@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

:root {
  --mainreg: "playregular", sans-serif;
  --mainbold: "playbold", sans-serif;
  --maincolor: #00adfe;
}

@font-face {
  font-family: "playregular";
  src: url("../fonts/play-regular-webfont.woff2") format("woff2"), url("../fonts/play-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "playbold";
  src: url("../fonts/play-bold-webfont.woff2") format("woff2"), url("../fonts/play-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: var(--mainreg);
  font-size: 1.6rem;
  color: #fff;
  background-color: #333;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.hamburger {
  position: fixed;
  top: 3em;
  right: 1em;
  transform: translateY(-50%);
  z-index: 50;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #fff;
  z-index: 50;
}

.nav .disabled {
  color: gray;
  text-decoration: none;
  cursor: default;
}
.nav-desktop {
  display: none;
}
.nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  transform: translate(-102%);
  transition: transform 0.5s;
  z-index: 10;
}
.nav-mobile--active {
  transform: translate(0);
}
.nav__link {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 2.3rem;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}
.nav__link--d {
  position: relative;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.5rem;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s;
}
.nav__link-desktop {
  color: #fff;
}
.nav__link-mobile:hover, .nav__link-desktop:hover {
  color: var(--maincolor);
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  height: 85vh;
  color: #fff;
}
.header__img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../img/Zdjęcie lokalu 3 mobile.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
.header__img-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}
.header__info {
  display: none;
}
.header__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.header__heading-title {
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 5rem;
}
.header__heading-adress {
  font-size: 2rem;
}

.section-heading {
  position: relative;
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: var(--maincolor);
  letter-spacing: 2px;
  text-decoration-line: underline;
}

.stationary-offers {
  position: relative;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
  .nav__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav__box-logo img {
    height: 7.5rem;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .nav__box-logo--reduction img {
    height: 5rem;
  }
  .nav-desktop {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 3rem;
    width: 100%;
    height: 12rem;
    background-color: rgb(0, 0, 0);
    z-index: 100;
  }
  .nav-desktop--reduction {
    height: 6.5rem;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .header {
    height: 85vh;
  }
  .header__heading {
    margin-bottom: 4rem;
  }
  .header__heading-title {
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 7.5rem;
    text-transform: uppercase;
  }
  .header__heading-adress {
    font-size: 3.5rem;
  }
  .header__heading-adress span {
    font-size: 3rem;
  }
  .header__img {
    background-image: url("../img/Zdjęcie lokalu 3 desktop.jpg");
  }
  .header__info {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 990px;
    font-size: 2rem;
    text-align: center;
  }
  .header__info-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }
}/*# sourceMappingURL=main.css.map */